<html>
  <head>
    <title>Product | Create</title>
  </head>
  <body>
    <form method="POST" action="/products">
      <label for="productname">Nama Produk</label>
      <br />
      <input type="text" name="productname" id="productname" />
      <br />

      <label for="productprice">Harga</label>
      <br />
      <input type="text" name="productprice" id="productprice" />
      <br />

      <label for="quantity">Quantity</label>
      <br />
      <input type="text" name="quantity" id="quantity" />
      <br />

      <label for="type">Type</label>
      <br />
      <input type="text" name="type" id="type" />
      <br />

      <label for="keterangan">Deskripsi Produk</label>
      <br />
      <textarea name="keterangan" id="keterangan" cols="30" rows="10"></textarea>
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>